/*кастомные css свойства*/
:root {
  --main-text-color: #212121;
  --text-color-dark-grey: #212121;
  --text-color-light-grey: #757575;
  --background-color-lignt-blue: #f5f4fa;
  --background-color-dark-blue: #2f303a;
  --conteiner-background: #ffffff;
  --white-text: #ffffff;
  --logo-color-dark: #000000;
  --accent-color: #2196f3;
  --accent-color-hover:#188CE8;
  --social-icons-grey: #AFB1B8
}
body {
  color: var(--main-text-color);
  font-family: "Roboto", "Raleway", "Verdana", "Tahoma", sans-serif;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
.ul {
  list-style: none;
}
/*универсальный селектор*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.section-header{
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ECECEC;
  align-items: center;
}
.header-nav{
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-color-dark);
  line-height: 1.17;
}
.logo-part {
  color: var(--accent-color);
}
.link {
  color: inherit;
  text-decoration: none;
}
.navlist{
  display: flex;
}
.navlist .item + .item{
  margin-left: 50px;
}

.navlist .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color-dark-grey);
  line-height: 1.17;
}
.navlist .link:hover,
.navlist .link:focus {
  text-decoration: none;
  color: var(--accent-color);
}
.navlist .current-link {
  color: var(--accent-color);
}
.header-nav .contacts{
  display: flex;
  margin-left: auto;
}
.header-nav .contacts .link{
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-header .item-contacts{
  margin-right: 50px;
  align-items: center;
}
.contacts-header .item-contacts:last-child{
  margin-right: 0px;
}
.item-contacts .link{
  display: flex;
  align-items: center;  
}

.icon-contacts{
  display: flex;
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
}
.icon-contacts:hover,
.icon-contacts:focus{
fill: var(--accent-color)
}
.contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: var(--text-color-light-grey);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
.contacts .link:hover .icon-contacts,
.contacts .link:focus .icon-contacts{
  color: var(--accent-color);
  fill: var(--accent-color);
}

.address {
  font-style: normal;
}
.studio-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-text);
}
.hero {
  max-width: 1600px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgb(47, 48, 58,0.4), rgb(47, 48, 58,0.4)), url(../imeges/hero_opt.jpg);
  /*background-color: var(--background-color-dark-blue);*/
  background-size: cover;
  background-position: 63% 37%;
  background-repeat: no-repeat;
  text-align: center;
}
.main-title{
  font-family: 'Roboto';
  color: var(--white-text);
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 3px;
  text-align: center;
}

/*Стилизация кнопок навигации*/

.button-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 4px var(--accent-color);
  box-shadow: 0px, 4px, rgba(0, 0, 0, 0.15);
  color: var(--white-text);
  padding: 10px 32px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 700;
  margin-top: 30px;

}
.button-main:hover,
.button-main:focus {
  background-color:var(--accent-color-hover);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0,15);
  cursor: pointer;
}
/*модальное окно -заказать услугу-*/
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(61, 104, 37, 0.651);
  z-index: 1;
}
/*позиционирование и бекграунд окна*/
.modal{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: rgb(233, 30, 216);
  min-width: 600px;
  min-height: 600px;
}
.is-hidden{
  opacity: 0;
  pointer-events: none;
}
/*кнопки портфолио*/
.btn-portfolio-list{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}
.button {
  display: inline-block;
  background-color: var(--background-color-lignt-blue);
  border-radius: 4px;
  border: 4px var(--background-color-lignt-blue);
  color: var(--text-color-dark-grey);
  padding: 6px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-text);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
}
.btn-portfolio-list:last-child{
  margin-right: 0;
}
.btn-portfolio-list .item{
  margin-right: 8px;
}
.btn-portfolio-list .item:last-child{
  margin-right: 0;
}
.current-button {
  display: inline-block;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
  color: var(--white-text);
  cursor: pointer;
  border-radius: 4px;
  border: 4px var(--background-color-lignt-blue);
  padding: 6px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
}
.current-button::after{
  content:"";
  display: block;
  
}
.section-advantages{
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list{
  display: flex;
}
/*добавление фоновых картинок через псевдоелементы
.advantages-list .item::before{
content: "";
display: block;
margin-bottom: 30px;
height: 120px;
background-color: var(--background-color-lignt-blue);
background-size: 70px 70px ;
background-repeat: no-repeat;
background-position: center;
border-radius: 4px;
}
.advantages-list .item:nth-child(1)::before{
  background-image: url(../imeges/attention.svg);
}
.advantages-list .item:nth-child(2)::before{
  background-image: url(../imeges/punctuality.svg);
}
.advantages-list .item:nth-child(3)::before{
  background-image: url(../imeges/planning.svg);
}
.advantages-list .item:nth-child(4)::before{
  background-image: url(../imeges/technology.svg);
}*/
.bkg-icon-advantages{
  display: flex;
  background-color: var(--background-color-lignt-blue);
  border-radius: 4px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
  margin-bottom: 30px;
}
.advantages-list .item{
  width: 270;
  margin-right: 30px;
}
.advantages-list .item:last-child{
  margin-right: 0;}

.advantages {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--text-color-dark-grey);
  text-transform: uppercase;
}
.advantages-description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-light-grey);
}
/*карточки Чем мы занимаемся*/
.section-about-us{
  padding-bottom: 94px;
}
.title-about-us {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--text-color-dark-grey);
  text-align: center;
}
.products-list{
  display: flex;
  margin-top: 50px;
}
.products-list .item:not(:last-child){
  margin-right: 30px;
}
.about-us-product-card{
  position: relative;;
}
.about-us-product-type{
  display: block;
  position: absolute;
  bottom: 0;
  right:0;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.80);
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.17;
}
/*Наша команда*/
.section-our-teem{
  background-color: var(--background-color-lignt-blue);
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-teem-list{
  display: flex;
  margin-top: 50px;
  
}
.our-teem-list .item-teem{
margin-right: 30px;
}
.item-teem:last-child{
  margin-right: 0px;
  }
.item-teem{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.photo{
  width: 270;
  height: 260;
}
.card-name-teem{
  background-color: var(--conteiner-background);
  border-radius: 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.about-name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: var(--text-color-dark-grey);
}
.about-position {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 1.17;
  color: var(--text-color-light-grey);
}
/*иконки соц сетей*/
.list-social-icons{
  display: flex;
  margin-top: 16px;
  margin-right: 32px;
  margin-left: 32px;
  align-items: center;
  justify-content: center;
}
.social-link{
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center; 
  align-items: center;
}
.list-social-icons :not(:last-child){
  margin-right: 10px;
}
.social-icon{
  /*fill:currentColor;*/
  fill: var(--social-icons-grey);
}
.social-link-item:hover .social-icon,
.social-link-item:focus .social-icon{
  fill: var(--white-text);
  background-color: var(--accent-color);
}
.social-link-item:hover,
.social-link-item:focus{
  background-color: var(--accent-color);
  border-radius: 50%;
}
.social-icon:hover,
.social-icon:focus{
background-color: var(--accent-color);
}
/*cекция наши клиенты*/
.section-our-clients{
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-our-clients{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--text-color-dark-grey);
  text-align: center;
  margin-bottom: 50px;
}
.list-icon-client{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.item-icon-client{
  display: flex;
  width: 170px;
  height: 92px; 
  border: 1px solid;
  border-color: var(--social-icons-grey);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.link-icon-client{
  max-width: 100%;
}
.list-icon-client :not(:last-child){
  margin-right: 30px;
}
.icon-client{
  fill: var(--social-icons-grey);
}
.item-icon-client:hover .icon-client,
.item-icon-client:focus .icon-client{
  fill:var(--accent-color);
  background-color: var(--conteiner-background);
}
.item-icon-client:hover,
.item-icon-client:focus{
  border-color:var(--accent-color);
  cursor: pointer;
}
/*футер*/
.footer .container{
  display: flex;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color-dark-blue);
  color: var(--white-text);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
}
.address{
  margin-top: 20px;
}
.address .item{
  margin-bottom: 9px;
}
.address .item:last-child{
  margin-bottom: 0px;
}
.footer-logo-contacts{
  margin-right: 70px;
  align-items: center;
}
/*футер иконки соцсетей*/
.title-footer-social-icons{
text-transform: uppercase;
font-size: 14px;
letter-spacing: 1px;
line-height: 1.17;
}
.footer-social-icons{
  padding-top: 12px;
  justify-content: center; 
  align-items: center;
}
.footer-list-social-icons{
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}

.footer-social-link{
  background-color: rgb(255, 255, 255,0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.footer-list-social-icons :not(:last-child){
  margin-right: 10px;
}
.footer-social-icon{
  fill: var(--white-text);
}
.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon{
  fill: var(--white-text);
  background-color: var(--accent-color);
}
.footer-social-link:hover,
.footer-social-link:focus{
  background-color: var(--accent-color);
}

/*страница портфолио*/
.section-portfolio{
  padding-top: 94px;
  padding-bottom: 94px;
}
.btn-portfolio-list{
  display: flex;
}
/*Скрытый заголовок*/
.main-title-hidden {
  visibility: hidden;
}

/*Портфолио - каоточки проектов*/
.project-img{
position: relative;
}
.project-img::before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.5px;
  color: var(--white-text);
  opacity: 0;
}

.projects-list .link:hover .project-img::before,
.projects-list .link:hover .project-description,
.projects-list .link:focus .project-img::before,
.projects-list .link:focus .project-description{
  opacity: 1;
}

.project-description{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.5px;
  color: var(--white-text);
  opacity: 0;
}

.projects-list{
display: flex;  
flex-wrap: wrap;
margin-top: -30px;
margin-left: -30px;
}
.projects-list > .item{
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.projects-list .link{
  display: block;
}
.projects-list .link:hover,
.projects-list .link:focus{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  opacity: 1;
}
.card-description{
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--text-color-dark-grey);
  margin-bottom: 4px;
}
.project-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color-light-grey);
}
.fill {
  object-fit: cover;
}

img {
  display: block;
  }